<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.justtrustme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SaveActivity">

        </activity>
        <activity android:name=".KakaoSignupActivity" />
        <activity android:name=".ButtonActivity">

        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="be130753b2beba3d82df356ac0ccfc63" />

        <activity android:name=".KakaoLogin" />
        <activity android:name=".GoogleLoign" />
        <activity android:name=".FindingWay"></activity>
        <activity android:name=".BookMark" />
        <activity android:name=".RegisterContacts" />
        <activity android:name=".OtherSettings" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".FAQ" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Search" />
    </application>

</manifest>